# Importing general libraries

In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

import ast

from tqdm.notebook import tqdm
tqdm.pandas()

from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

# Importing datasets

In [35]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [36]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [37]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [38]:
# Combining both the datasets

movie_data = movies.merge(credits, on = 'title')
movie_data.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [39]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [40]:
movie_data = movie_data[['movie_id','title','original_language','spoken_languages','overview','genres','keywords','cast','crew']]

In [41]:
movie_data.head(2)

,movie_id,title,original_language,spoken_languages,overview,genres,keywords,cast,crew
0,19995,Avatar,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [42]:
movie_data.isnull().sum()

movie_id             0
title                0
original_language    0
spoken_languages     0
overview             3
genres               0
keywords             0
cast                 0
crew                 0
dtype: int64

> There are 3 missing values in overview feature

In [43]:
# Dropping null values
movie_data.dropna(inplace = True)

In [44]:
#movie_data = movie_data.fillna("")

In [45]:
movie_data[movie_data['movie_id'].duplicated()]

,movie_id,title,original_language,spoken_languages,overview,genres,keywords,cast,crew
974,72710,The Host,ko,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Gang-du is a dim-witted man working at his fat...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...","[{""id"": 1261, ""name"": ""river""}, {""id"": 1880, ""...","[{""cast_id"": 52, ""character"": ""Melanie Stryder...","[{""credit_id"": ""52fe487bc3a368484e0fa919"", ""de..."
975,1255,The Host,ko,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Gang-du is a dim-witted man working at his fat...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...","[{""id"": 1261, ""name"": ""river""}, {""id"": 1880, ""...","[{""cast_id"": 3, ""character"": ""Park Gang-du"", ""...","[{""credit_id"": ""52fe42eac3a36847f802ca6b"", ""de..."
1364,268,Batman,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Dynamic Duo faces four super-villains who ...,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 12, ""...","[{""id"": 339, ""name"": ""submarine""}, {""id"": 849,...","[{""cast_id"": 5, ""character"": ""Jack Napier/The ...","[{""credit_id"": ""52fe422fc3a36847f800aa4b"", ""de..."
1365,2661,Batman,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Dynamic Duo faces four super-villains who ...,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 12, ""...","[{""id"": 339, ""name"": ""submarine""}, {""id"": 849,...","[{""cast_id"": 17, ""character"": ""Batman / Bruce ...","[{""credit_id"": ""52fe4363c3a36847f80509a7"", ""de..."
3654,39269,Out of the Blue,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Ordinary people find extraordinary courage in ...,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 2658, ""name"": ""new zealand""}, {""id"": 3...","[{""cast_id"": 2, ""character"": ""Don"", ""credit_id...","[{""credit_id"": ""52fe47099251416c9106826f"", ""de..."
3655,10844,Out of the Blue,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Ordinary people find extraordinary courage in ...,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 2658, ""name"": ""new zealand""}, {""id"": 3...","[{""cast_id"": 12, ""character"": ""Nick Harvey"", ""...","[{""credit_id"": ""52fe43c19251416c7501cceb"", ""de..."

In [46]:
movie_data[movie_data['movie_id'] == 72710]

,movie_id,title,original_language,spoken_languages,overview,genres,keywords,cast,crew
972,72710,The Host,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",A parasitic alien soul is injected into the bo...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 52, ""character"": ""Melanie Stryder...","[{""credit_id"": ""52fe487bc3a368484e0fa919"", ""de..."
974,72710,The Host,ko,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Gang-du is a dim-witted man working at his fat...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...","[{""id"": 1261, ""name"": ""river""}, {""id"": 1880, ""...","[{""cast_id"": 52, ""character"": ""Melanie Stryder...","[{""credit_id"": ""52fe487bc3a368484e0fa919"", ""de..."

In [47]:
movie_data[movie_data.movie_id == 1255]

,movie_id,title,original_language,spoken_languages,overview,genres,keywords,cast,crew
973,1255,The Host,en,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",A parasitic alien soul is injected into the bo...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 3, ""character"": ""Park Gang-du"", ""...","[{""credit_id"": ""52fe42eac3a36847f802ca6b"", ""de..."
975,1255,The Host,ko,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Gang-du is a dim-witted man working at his fat...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...","[{""id"": 1261, ""name"": ""river""}, {""id"": 1880, ""...","[{""cast_id"": 3, ""character"": ""Park Gang-du"", ""...","[{""credit_id"": ""52fe42eac3a36847f802ca6b"", ""de..."

> Inference : 
There are few rows which are repeating. This look like some data issue. Incorrectly same movie id has been assigned to two different movies which cannot happen in reality. In real world, movie id should always be unique. As there is no way to figure out which assignment is correct, I will drop all rows returned by duplicate() function.

In [48]:
# Dropppig duplicated rows

to_drop = movie_data[movie_data['movie_id'].duplicated()]
movie_data.drop(to_drop.index, inplace = True)

In [49]:
ast.literal_eval(movie_data['cast'][0])

[{'cast_id': 242,
  'character': 'Jake Sully',
  'credit_id': '5602a8a7c3a3685532001c9a',
  'gender': 2,
  'id': 65731,
  'name': 'Sam Worthington',
  'order': 0},
 {'cast_id': 3,
  'character': 'Neytiri',
  'credit_id': '52fe48009251416c750ac9cb',
  'gender': 1,
  'id': 8691,
  'name': 'Zoe Saldana',
  'order': 1},
 {'cast_id': 25,
  'character': 'Dr. Grace Augustine',
  'credit_id': '52fe48009251416c750aca39',
  'gender': 1,
  'id': 10205,
  'name': 'Sigourney Weaver',
  'order': 2},
 {'cast_id': 4,
  'character': 'Col. Quaritch',
  'credit_id': '52fe48009251416c750ac9cf',
  'gender': 2,
  'id': 32747,
  'name': 'Stephen Lang',
  'order': 3},
 {'cast_id': 5,
  'character': 'Trudy Chacon',
  'credit_id': '52fe48009251416c750ac9d3',
  'gender': 1,
  'id': 17647,
  'name': 'Michelle Rodriguez',
  'order': 4},
 {'cast_id': 8,
  'character': 'Selfridge',
  'credit_id': '52fe48009251416c750ac9e1',
  'gender': 2,
  'id': 1771,
  'name': 'Giovanni Ribisi',
  'order': 5},
 {'cast_id': 7,
  'character': 'Norm Spellman',
  'credit_id': '52fe48009251416c750ac9dd',
  'gender': 2,
  'id': 59231,
  'name': 'Joel David Moore',
  'order': 6},
 {'cast_id': 9,
  'character': 'Moat',
  'credit_id': '52fe48009251416c750ac9e5',
  'gender': 1,
  'id': 30485,
  'name': 'CCH Pounder',
  'order': 7},
 {'cast_id': 11,
  'character': 'Eytukan',
  'credit_id': '52fe48009251416c750ac9ed',
  'gender': 2,
  'id': 15853,
  'name': 'Wes Studi',
  'order': 8},
 {'cast_id': 10,
  'character': "Tsu'Tey",
  'credit_id': '52fe48009251416c750ac9e9',
  'gender': 2,
  'id': 10964,
  'name': 'Laz Alonso',
  'order': 9},
 {'cast_id': 12,
  'character': 'Dr. Max Patel',
  'credit_id': '52fe48009251416c750ac9f1',
  'gender': 2,
  'id': 95697,
  'name': 'Dileep Rao',
  'order': 10},
 {'cast_id': 13,
  'character': 'Lyle Wainfleet',
  'credit_id': '52fe48009251416c750ac9f5',
  'gender': 2,
  'id': 98215,
  'name': 'Matt Gerald',
  'order': 11},
 {'cast_id': 32,
  'character': 'Private Fike',
  'credit_id': '52fe48009251416c750aca5b',
  'gender': 2,
  'id': 154153,
  'name': 'Sean Anthony Moran',
  'order': 12},
 {'cast_id': 33,
  'character': 'Cryo Vault Med Tech',
  'credit_id': '52fe48009251416c750aca5f',
  'gender': 2,
  'id': 397312,
  'name': 'Jason Whyte',
  'order': 13},
 {'cast_id': 34,
  'character': 'Venture Star Crew Chief',
  'credit_id': '52fe48009251416c750aca63',
  'gender': 2,
  'id': 42317,
  'name': 'Scott Lawrence',
  'order': 14},
 {'cast_id': 35,
  'character': 'Lock Up Trooper',
  'credit_id': '52fe48009251416c750aca67',
  'gender': 2,
  'id': 986734,
  'name': 'Kelly Kilgour',
  'order': 15},
 {'cast_id': 36,
  'character': 'Shuttle Pilot',
  'credit_id': '52fe48009251416c750aca6b',
  'gender': 0,
  'id': 1207227,
  'name': 'James Patrick Pitt',
  'order': 16},
 {'cast_id': 37,
  'character': 'Shuttle Co-Pilot',
  'credit_id': '52fe48009251416c750aca6f',
  'gender': 0,
  'id': 1180936,
  'name': 'Sean Patrick Murphy',
  'order': 17},
 {'cast_id': 38,
  'character': 'Shuttle Crew Chief',
  'credit_id': '52fe48009251416c750aca73',
  'gender': 2,
  'id': 1019578,
  'name': 'Peter Dillon',
  'order': 18},
 {'cast_id': 39,
  'character': 'Tractor Operator / Troupe',
  'credit_id': '52fe48009251416c750aca77',
  'gender': 0,
  'id': 91443,
  'name': 'Kevin Dorman',
  'order': 19},
 {'cast_id': 40,
  'character': 'Dragon Gunship Pilot',
  'credit_id': '52fe48009251416c750aca7b',
  'gender': 2,
  'id': 173391,
  'name': 'Kelson Henderson',
  'order': 20},
 {'cast_id': 41,
  'character': 'Dragon Gunship Gunner',
  'credit_id': '52fe48009251416c750aca7f',
  'gender': 0,
  'id': 1207236,
  'name': 'David Van Horn',
  'order': 21},
 {'cast_id': 42,
  'character': 'Dragon Gunship Navigator',
  'credit_id': '52fe48009251416c750aca83',
  'gender': 0,
  'id': 215913,
  'name': 'Jacob Tomuri',
  'order': 22},
 {'cast_id': 43,
  'character': 'Suit #1',
  'credit_id': '52fe48009251416c750aca87',
  'gender': 0,
  'id': 143206,
  'name': 'Michael Blain-Rozgay',
  'order': 23},
 {'cast_id': 44,
  'character': 'Suit #2',
  'credit_id': '52fe48009251416c750aca8b',
  'gender': 2,
  'id': 169676,
  'name': 'Jon Curry',
  'order': 24},
 {'cast_id': 46,
  'character': 'Ambient Room Tech',
  'credit_id': '52fe48009251416c750aca8f',
  'gender': 0,
  'id': 1048610,
  'name': 'Luke Hawker',
  'order': 25},
 {'cast_id': 47,
  'character': 'Ambient Room Tech / Troupe',
  'credit_id': '52fe48009251416c750aca93',
  'gender': 0,
  'id': 42288,
  'name': 'Woody Schultz',
  'order': 26},
 {'cast_id': 48,
  'character': 'Horse Clan Leader',
  'credit_id': '52fe48009251416c750aca97',
  'gender': 2,
  'id': 68278,
  'name': 'Peter Mensah',
  'order': 27},
 {'cast_id': 49,
  'character': 'Link Room Tech',
  'credit_id': '52fe48009251416c750aca9b',
  'gender': 0,
  'id': 1207247,
  'name': 'Sonia Yee',
  'order': 28},
 {'cast_id': 50,
  'character': 'Basketball Avatar / Troupe',
  'credit_id': '52fe48009251416c750aca9f',
  'gender': 1,
  'id': 1207248,
  'name': 'Jahnel Curfman',
  'order': 29},
 {'cast_id': 51,
  'character': 'Basketball Avatar',
  'credit_id': '52fe48009251416c750acaa3',
  'gender': 0,
  'id': 89714,
  'name': 'Ilram Choi',
  'order': 30},
 {'cast_id': 52,
  'character': "Na'vi Child",
  'credit_id': '52fe48009251416c750acaa7',
  'gender': 0,
  'id': 1207249,
  'name': 'Kyla Warren',
  'order': 31},
 {'cast_id': 53,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acaab',
  'gender': 0,
  'id': 1207250,
  'name': 'Lisa Roumain',
  'order': 32},
 {'cast_id': 54,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acaaf',
  'gender': 1,
  'id': 83105,
  'name': 'Debra Wilson',
  'order': 33},
 {'cast_id': 57,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acabb',
  'gender': 0,
  'id': 1207253,
  'name': 'Chris Mala',
  'order': 34},
 {'cast_id': 55,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acab3',
  'gender': 0,
  'id': 1207251,
  'name': 'Taylor Kibby',
  'order': 35},
 {'cast_id': 56,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acab7',
  'gender': 0,
  'id': 1207252,
  'name': 'Jodie Landau',
  'order': 36},
 {'cast_id': 58,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acabf',
  'gender': 0,
  'id': 1207254,
  'name': 'Julie Lamm',
  'order': 37},
 {'cast_id': 59,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acac3',
  'gender': 0,
  'id': 1207257,
  'name': 'Cullen B. Madden',
  'order': 38},
 {'cast_id': 60,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acac7',
  'gender': 0,
  'id': 1207259,
  'name': 'Joseph Brady Madden',
  'order': 39},
 {'cast_id': 61,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acacb',
  'gender': 0,
  'id': 1207262,
  'name': 'Frankie Torres',
  'order': 40},
 {'cast_id': 62,
  'character': 'Troupe',
  'credit_id': '52fe48009251416c750acacf',
  'gender': 1,
  'id': 1158600,
  'name': 'Austin Wilson',
  'order': 41},
 {'cast_id': 63,
  'character': 'Troupe',
  'credit_id': '52fe48019251416c750acad3',
  'gender': 1,
  'id': 983705,
  'name': 'Sara Wilson',
  'order': 42},
 {'cast_id': 64,
  'character': 'Troupe',
  'credit_id': '52fe48019251416c750acad7',
  'gender': 0,
  'id': 1207263,
  'name': 'Tamica Washington-Miller',
  'order': 43},
 {'cast_id': 65,
  'character': 'Op Center Staff',
  'credit_id': '52fe48019251416c750acadb',
  'gender': 1,
  'id': 1145098,
  'name': 'Lucy Briant',
  'order': 44},
 {'cast_id': 66,
  'character': 'Op Center Staff',
  'credit_id': '52fe48019251416c750acadf',
  'gender': 2,
  'id': 33305,
  'name': 'Nathan Meister',
  'order': 45},
 {'cast_id': 67,
  'character': 'Op Center Staff',
  'credit_id': '52fe48019251416c750acae3',
  'gender': 0,
  'id': 1207264,
  'name': 'Gerry Blair',
  'order': 46},
 {'cast_id': 68,
  'character': 'Op Center Staff',
  'credit_id': '52fe48019251416c750acae7',
  'gender': 2,
  'id': 33311,
  'name': 'Matthew Chamberlain',
  'order': 47},
 {'cast_id': 69,
  'character': 'Op Center Staff',
  'credit_id': '52fe48019251416c750acaeb',
  'gender': 0,
  'id': 1207265,
  'name': 'Paul Yates',
  'order': 48},
 {'cast_id': 70,
  'character': 'Op Center Duty Officer',
  'credit_id': '52fe48019251416c750acaef',
  'gender': 0,
  'id': 1207266,
  'name': 'Wray Wilson',
  'order': 49},
 {'cast_id': 71,
  'character': 'Op Center Staff',
  'credit_id': '52fe48019251416c750acaf3',
  'gender': 2,
  'id': 54492,
  'name': 'James Gaylyn',
  'order': 50},
 {'cast_id': 72,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acaf7',
  'gender': 0,
  'id': 1207267,
  'name': 'Melvin Leno Clark III',
  'order': 51},
 {'cast_id': 73,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acafb',
  'gender': 0,
  'id': 1207268,
  'name': 'Carvon Futrell',
  'order': 52},
 {'cast_id': 74,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acaff',
  'gender': 0,
  'id': 1207269,
  'name': 'Brandon Jelkes',
  'order': 53},
 {'cast_id': 75,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acb03',
  'gender': 0,
  'id': 1207270,
  'name': 'Micah Moch',
  'order': 54},
 {'cast_id': 76,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acb07',
  'gender': 0,
  'id': 1207271,
  'name': 'Hanniyah Muhammad',
  'order': 55},
 {'cast_id': 77,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acb0b',
  'gender': 0,
  'id': 1207272,
  'name': 'Christopher Nolen',
  'order': 56},
 {'cast_id': 78,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acb0f',
  'gender': 0,
  'id': 1207273,
  'name': 'Christa Oliver',
  'order': 57},
 {'cast_id': 79,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acb13',
  'gender': 0,
  'id': 1207274,
  'name': 'April Marie Thomas',
  'order': 58},
 {'cast_id': 80,
  'character': 'Dancer',
  'credit_id': '52fe48019251416c750acb17',
  'gender': 0,
  'id': 1207275,
  'name': 'Bravita A. Threatt',
  'order': 59},
 {'cast_id': 81,
  'character': 'Mining Chief (uncredited)',
  'credit_id': '52fe48019251416c750acb1b',
  'gender': 0,
  'id': 1207276,
  'name': 'Colin Bleasdale',
  'order': 60},
 {'cast_id': 82,
  'character': 'Veteran Miner (uncredited)',
  'credit_id': '52fe48019251416c750acb1f',
  'gender': 0,
  'id': 107969,
  'name': 'Mike Bodnar',
  'order': 61},
 {'cast_id': 83,
  'character': 'Richard (uncredited)',
  'credit_id': '52fe48019251416c750acb23',
  'gender': 0,
  'id': 1207278,
  'name': 'Matt Clayton',
  'order': 62},
 {'cast_id': 84,
  'character': "Nav'i (uncredited)",
  'credit_id': '52fe48019251416c750acb27',
  'gender': 1,
  'id': 147898,
  'name': 'Nicole Dionne',
  'order': 63},
 {'cast_id': 85,
  'character': 'Trooper (uncredited)',
  'credit_id': '52fe48019251416c750acb2b',
  'gender': 0,
  'id': 1207280,
  'name': 'Jamie Harrison',
  'order': 64},
 {'cast_id': 86,
  'character': 'Trooper (uncredited)',
  'credit_id': '52fe48019251416c750acb2f',
  'gender': 0,
  'id': 1207281,
  'name': 'Allan Henry',
  'order': 65},
 {'cast_id': 87,
  'character': 'Ground Technician (uncredited)',
  'credit_id': '52fe48019251416c750acb33',
  'gender': 2,
  'id': 1207282,
  'name': 'Anthony Ingruber',
  'order': 66},
 {'cast_id': 88,
  'character': 'Flight Crew Mechanic (uncredited)',
  'credit_id': '52fe48019251416c750acb37',
  'gender': 0,
  'id': 1207283,
  'name': 'Ashley Jeffery',
  'order': 67},
 {'cast_id': 14,
  'character': 'Samson Pilot',
  'credit_id': '52fe48009251416c750ac9f9',
  'gender': 0,
  'id': 98216,
  'name': 'Dean Knowsley',
  'order': 68},
 {'cast_id': 89,
  'character': 'Trooper (uncredited)',
  'credit_id': '52fe48019251416c750acb3b',
  'gender': 0,
  'id': 1201399,
  'name': 'Joseph Mika-Hunt',
  'order': 69},
 {'cast_id': 90,
  'character': 'Banshee (uncredited)',
  'credit_id': '52fe48019251416c750acb3f',
  'gender': 0,
  'id': 236696,
  'name': 'Terry Notary',
  'order': 70},
 {'cast_id': 91,
  'character': 'Soldier (uncredited)',
  'credit_id': '52fe48019251416c750acb43',
  'gender': 0,
  'id': 1207287,
  'name': 'Kai Pantano',
  'order': 71},
 {'cast_id': 92,
  'character': 'Blast Technician (uncredited)',
  'credit_id': '52fe48019251416c750acb47',
  'gender': 0,
  'id': 1207288,
  'name': 'Logan Pithyou',
  'order': 72},
 {'cast_id': 93,
  'character': 'Vindum Raah (uncredited)',
  'credit_id': '52fe48019251416c750acb4b',
  'gender': 0,
  'id': 1207289,
  'name': 'Stuart Pollock',
  'order': 73},
 {'cast_id': 94,
  'character': 'Hero (uncredited)',
  'credit_id': '52fe48019251416c750acb4f',
  'gender': 0,
  'id': 584868,
  'name': 'Raja',
  'order': 74},
 {'cast_id': 95,
  'character': 'Ops Centreworker (uncredited)',
  'credit_id': '52fe48019251416c750acb53',
  'gender': 0,
  'id': 1207290,
  'name': 'Gareth Ruck',
  'order': 75},
 {'cast_id': 96,
  'character': 'Engineer (uncredited)',
  'credit_id': '52fe48019251416c750acb57',
  'gender': 0,
  'id': 1062463,
  'name': 'Rhian Sheehan',
  'order': 76},
 {'cast_id': 97,
  'character': "Col. Quaritch's Mech Suit (uncredited)",
  'credit_id': '52fe48019251416c750acb5b',
  'gender': 0,
  'id': 60656,
  'name': 'T. J. Storm',
  'order': 77},
 {'cast_id': 98,
  'character': 'Female Marine (uncredited)',
  'credit_id': '52fe48019251416c750acb5f',
  'gender': 0,
  'id': 1207291,
  'name': 'Jodie Taylor',
  'order': 78},
 {'cast_id': 99,
  'character': 'Ikran Clan Leader (uncredited)',
  'credit_id': '52fe48019251416c750acb63',
  'gender': 1,
  'id': 1186027,
  'name': 'Alicia Vela-Bailey',
  'order': 79},
 {'cast_id': 100,
  'character': 'Geologist (uncredited)',
  'credit_id': '52fe48019251416c750acb67',
  'gender': 0,
  'id': 1207292,
  'name': 'Richard Whiteside',
  'order': 80},
 {'cast_id': 101,
  'character': "Na'vi (uncredited)",
  'credit_id': '52fe48019251416c750acb6b',
  'gender': 0,
  'id': 103259,
  'name': 'Nikie Zambo',
  'order': 81},
 {'cast_id': 102,
  'character': 'Ambient Room Tech / Troupe',
  'credit_id': '52fe48019251416c750acb6f',
  'gender': 1,
  'id': 42286,
  'name': 'Julene Renee',
  'order': 82}]

In [50]:
# Below function will iterate over the list of dictionary and extract name from the dictionary. 
# Extracted name will be stored in a temporary list which will be returned to the calling function.
# Also I will be combining name with more than on word into a single word. Say "Science Fiction" ===> "ScienceFiction"

def extract_name(sen):
    lst = []
    for txt in ast.literal_eval(sen):
        lst.append(txt['name'].replace(' ', ''))
    return lst

In [51]:
movie_data['genres'] = movie_data['genres'].progress_apply(extract_name) # # Extracting Genre name

  0%|          | 0/4800 [00:00<?, ?it/s]

In [52]:
movie_data['keywords'] = movie_data['keywords'].progress_apply(extract_name) ## Extracing keywords

  0%|          | 0/4800 [00:00<?, ?it/s]

In [53]:
# Featching all cast names and replacing white spaces so complete name is treated single name.
# We don't want firstname and lastname to be treated as two different word. At the same time we want name to be in order
# say firstname and then last name

def convert_cast(sen):
    lst = []
    for txt in ast.literal_eval(sen):
        lst.append(txt['name'].replace(" ", ''))
    return lst

In [54]:
movie_data['cast'] = movie_data['cast'].progress_apply(convert_cast)

  0%|          | 0/4800 [00:00<?, ?it/s]

In [56]:
movie_data['cast'][0]

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenLang',
 'MichelleRodriguez',
 'GiovanniRibisi',
 'JoelDavidMoore',
 'CCHPounder',
 'WesStudi',
 'LazAlonso',
 'DileepRao',
 'MattGerald',
 'SeanAnthonyMoran',
 'JasonWhyte',
 'ScottLawrence',
 'KellyKilgour',
 'JamesPatrickPitt',
 'SeanPatrickMurphy',
 'PeterDillon',
 'KevinDorman',
 'KelsonHenderson',
 'DavidVanHorn',
 'JacobTomuri',
 'MichaelBlain-Rozgay',
 'JonCurry',
 'LukeHawker',
 'WoodySchultz',
 'PeterMensah',
 'SoniaYee',
 'JahnelCurfman',
 'IlramChoi',
 'KylaWarren',
 'LisaRoumain',
 'DebraWilson',
 'ChrisMala',
 'TaylorKibby',
 'JodieLandau',
 'JulieLamm',
 'CullenB.Madden',
 'JosephBradyMadden',
 'FrankieTorres',
 'AustinWilson',
 'SaraWilson',
 'TamicaWashington-Miller',
 'LucyBriant',
 'NathanMeister',
 'GerryBlair',
 'MatthewChamberlain',
 'PaulYates',
 'WrayWilson',
 'JamesGaylyn',
 'MelvinLenoClarkIII',
 'CarvonFutrell',
 'BrandonJelkes',
 'MicahMoch',
 'HanniyahMuhammad',
 'ChristopherNolen',
 'ChristaOliver',
 'AprilMarieThomas',
 'BravitaA.Threatt',
 'ColinBleasdale',
 'MikeBodnar',
 'MattClayton',
 'NicoleDionne',
 'JamieHarrison',
 'AllanHenry',
 'AnthonyIngruber',
 'AshleyJeffery',
 'DeanKnowsley',
 'JosephMika-Hunt',
 'TerryNotary',
 'KaiPantano',
 'LoganPithyou',
 'StuartPollock',
 'Raja',
 'GarethRuck',
 'RhianSheehan',
 'T.J.Storm',
 'JodieTaylor',
 'AliciaVela-Bailey',
 'RichardWhiteside',
 'NikieZambo',
 'JuleneRenee']

In [57]:
# Extracting movie language

def extract_language(sen):
    lst = []
    for txt in ast.literal_eval(sen):
        lst.append(txt['name'])
    return lst

In [58]:
movie_data['spoken_languages'] = movie_data['spoken_languages'].progress_apply(extract_language)

  0%|          | 0/4800 [00:00<?, ?it/s]

In [59]:
def extract_dir(sen):
    lst = []
    for txt in ast.literal_eval(movie_data['crew']):
        if txt['job'].lower() == "director":
            lst.append(txt['name'].replace(" ", ''))
    return lst

In [66]:
# Extracting director name from the data
movie_data['crew'] = movie_data['crew'].progress_apply(extract_dir)

  0%|          | 0/4800 [00:00<?, ?it/s]

In [68]:
# Spliting movie review into list of words
movie_data['overview'] = movie_data['overview'].progress_apply(lambda x:x.split())

  0%|          | 0/4800 [00:00<?, ?it/s]

In [72]:
movie_data['original_language'] = movie_data['original_language'].apply(lambda x: x.split())

In [73]:
movie_data['original_language']

0       [en]
1       [en]
2       [en]
3       [en]
4       [en]
        ...
4804    [es]
4805    [en]
4806    [en]
4807    [en]
4808    [en]
Name: original_language, Length: 4800, dtype: object

In [74]:
# Creating another feature containing combined features

movie_data['tags'] = movie_data['spoken_languages'] + movie_data['original_language'] + movie_data['overview']  +  movie_data['genres'] + movie_data['keywords'] + movie_data['cast'] + movie_data['crew']

In [75]:
# As I have already stored these values into a news feature..I will be dropping it from the data

movie_data.drop(['overview', 'original_language' ,'spoken_languages','genres', 'keywords', 'cast', 'crew'], axis = 1, inplace = True)

In [76]:
movie_data

,movie_id,title,tags
0,19995,Avatar,"[English, Español, en, In, the, 22nd, century,..."
1,285,Pirates of the Caribbean: At World's End,"[English, en, Captain, Barbossa,, long, believ..."
2,206647,Spectre,"[Français, English, Español, Italiano, Deutsch..."
3,49026,The Dark Knight Rises,"[English, en, Following, the, death, of, Distr..."
4,49529,John Carter,"[English, en, John, Carter, is, a, war-weary,,..."
...,...,...,...
4804,9367,El Mariachi,"[Español, es, El, Mariachi, just, wants, to, p..."
4805,72766,Newlyweds,"[en, A, newlywed, couple's, honeymoon, is, upe..."
4806,231617,"Signed, Sealed, Delivered","[English, en, ""Signed,, Sealed,, Delivered"", i..."
4807,126186,Shanghai Calling,"[English, en, When, ambitious, New, York, atto..."
4808,25975,My Date with Drew,"[English, en, Ever, since, the, second, grade,..."

In [77]:
# Joining all words into a single sentence

movie_data['tags'] = movie_data['tags'].progress_apply(lambda x: " ".join(x))

  0%|          | 0/4800 [00:00<?, ?it/s]

In [83]:
# Performing data cleaning....removing special charaters..

import re
def remove_SpecialChar(sentence):
    sentence = sentence.lower()
    sentence = re.sub("\S*\d\S*", "", sentence)
    sentence = re.sub('[^A-Za-z0-9]+', " ", sentence)
    return sentence

In [84]:
# calling above function to remove special charaters

movie_data['tags'] = movie_data['tags'].progress_apply(remove_SpecialChar)

  0%|          | 0/4800 [00:00<?, ?it/s]

In [85]:
movie_data['tags'][1]

'english en captain barbossa long believed to be dead has come back to life and is headed to the edge of the earth with will turner and elizabeth swann but nothing is quite as it seems adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley stellanskarsg rd chowyun fat billnighy geoffreyrush jackdavenport kevinmcnally tomhollander naomieharris jonathanpryce keithrichards leearenberg mackenziecrook gregellis davidbailie martinklebba davidschofield laurenmaher vanessabranch angusbarnett gilesnew reggielee dominicscottkay takayofischer davidmeunier ho kwantse andybeckwith peterdonaldbadalamentiii christophers capp keithrichards hakeemkae kazim ghassanmassoud goreverbinski'

# Modeling....

In [88]:
# Initalizing count vectors

cv = CountVectorizer(max_features = 5000, stop_words = 'english')
vector = cv.fit_transform(movie_data['tags']).toarray()

In [89]:
vector.shape

(4800, 5000)

In [91]:
# Computing cosine similarity of newly created featre.

similarity = cosine_similarity(vector)

In [92]:
similarity

array([[1.        , 0.11111111, 0.13483997, ..., 0.06741999, 0.07254763,
        0.05039526],
       [0.11111111, 1.        , 0.11236664, ..., 0.06741999, 0.04836508,
        0.05039526],
       [0.13483997, 0.11236664, 1.        , ..., 0.06818182, 0.0489116 ,
        0.05096472],
       ...,
       [0.06741999, 0.06741999, 0.06818182, ..., 1.        , 0.122279  ,
        0.07644708],
       [0.07254763, 0.04836508, 0.0489116 , ..., 0.122279  , 1.        ,
        0.08226127],
       [0.05039526, 0.05039526, 0.05096472, ..., 0.07644708, 0.08226127,
        1.        ]])

In [376]:
def recommend(movie):
    index = movie_data[movie_data['title'] == movie].index[0]   # Extracting index number of movvir
    distance = sorted(list(enumerate(similarity[index])), reverse = True, key = lambda x: x[1]) # Fetc
    for i in distance[1:6]:
        print(movie_data.iloc[i[0]].title) # ubdex #  predicting top 5 levels present te datset

In [377]:
recommend("Pirates of the Caribbean: At World's End")

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: The Curse of the Black Pearl
Pirates of the Caribbean: On Stranger Tides
20,000 Leagues Under the Sea
Life of Pi

In [94]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x: x[1])

[(0, 0.9999999999999999),
 (1916, 0.3103164454170875),
 (1440, 0.26943012562182533),
 (4399, 0.26666666666666666),
 (1202, 0.2609312292213769),
 (539, 0.2592724864350674),
 (1192, 0.2560911084488454),
 (582, 0.25446209512303813),
 (1214, 0.2528242470079879),
 (260, 0.24845199749997662),
 (507, 0.24812594486934292),
 (4186, 0.24343224778007388),
 (74, 0.2417728402451219),
 (2329, 0.2412090756622109),
 (3604, 0.2412090756622109),
 (3158, 0.2390457218668788),
 (3618, 0.2387049580131443),
 (3724, 0.2385139175999776),
 (83, 0.2366823156015644),
 (3624, 0.23354968324845696),
 (3323, 0.23333333333333334),
 (2995, 0.23094010767585033),
 (2967, 0.22961557339788816),
 (973, 0.22677868380553634),
 (1327, 0.2253744679276044),
 (2782, 0.2253744679276044),
 (36, 0.22473328748774735),
 (2405, 0.22473328748774735),
 (1533, 0.223606797749979),
 (1319, 0.22247460415730486),
 (3534, 0.22056438662814237),
 (972, 0.22056438662814234),
 (2200, 0.22056438662814234),
 (466, 0.21773242158072695),
 (2727, 0.21758445525607323),
 (1669, 0.21693045781865622),
 (322, 0.21516574145596765),
 (461, 0.21300321680756462),
 (495, 0.21300321680756462),
 (1297, 0.21213203435596426),
 (942, 0.2095290887308735),
 (3715, 0.2086996778999804),
 (61, 0.20869967789998037),
 (184, 0.20701966780270625),
 (568, 0.20701966780270625),
 (581, 0.20464687117164018),
 (557, 0.20459830184114203),
 (220, 0.2045239970259654),
 (1154, 0.2045239970259654),
 (4042, 0.20184335693983277),
 (4635, 0.2),
 (2797, 0.19999999999999998),
 (3493, 0.19920476822239896),
 (1273, 0.1987615979999813),
 (373, 0.19720265943665385),
 (1723, 0.19720265943665385),
 (1176, 0.19605723255834875),
 (111, 0.19569842191603265),
 (151, 0.19518001458970666),
 (208, 0.19518001458970666),
 (150, 0.19460646055923425),
 (27, 0.194074169913194),
 (3350, 0.19377278632539327),
 (187, 0.19364916731037088),
 (332, 0.19346033336266982),
 (931, 0.19346033336266982),
 (305, 0.19192210494974504),
 (2446, 0.1909639664105154),
 (2246, 0.19069251784911845),
 (2966, 0.19069251784911845),
 (301, 0.19062092313368004),
 (300, 0.18973665961010278),
 (1069, 0.18973665961010278),
 (158, 0.18932061141568832),
 (1199, 0.18856180831641267),
 (4091, 0.18856180831641267),
 (2492, 0.1874178434105831),
 (47, 0.1868706368604627),
 (1484, 0.18650096164806276),
 (46, 0.18605210188381271),
 (56, 0.18446619684315546),
 (2071, 0.18446619684315546),
 (1392, 0.18428853505018536),
 (1827, 0.18428853505018536),
 (490, 0.18257418583505539),
 (1325, 0.18257418583505539),
 (342, 0.18219813149998285),
 (1941, 0.18186515719212626),
 (2165, 0.18164975363768873),
 (2511, 0.18164975363768873),
 (661, 0.18077538151554684),
 (502, 0.1797866299901979),
 (754, 0.1797866299901979),
 (1379, 0.1797866299901979),
 (2580, 0.1788854381999832),
 (838, 0.1781741612749496),
 (1804, 0.17777777777777778),
 (3777, 0.17777777777777778),
 (4330, 0.17777777777777778),
 (4539, 0.17770466332772772),
 (4, 0.1758347929055432),
 (168, 0.1758347929055432),
 (1218, 0.1758347929055432),
 (422, 0.17541160386140586),
 (487, 0.17541160386140586),
 (2547, 0.17541160386140586),
 (17, 0.17447464086340458),
 (334, 0.17395415281425125),
 (1353, 0.17395415281425125),
 (91, 0.17391639824998364),
 (174, 0.1721325931647741),
 (1934, 0.1721325931647741),
 (4484, 0.17213259316477408),
 (1961, 0.17177950029416048),
 (577, 0.17155007848855516),
 (2682, 0.17155007848855516),
 (75, 0.1692777916923361),
 (2089, 0.1692777916923361),
 (2208, 0.1690308509457033),
 (4032, 0.1690308509457033),
 (67, 0.16865480854231357),
 (227, 0.16709347060920102),
 (311, 0.1669931442893732),
 (3775, 0.16666666666666669),
 (149, 0.16666666666666666),
 (505, 0.16609095970747995),
 (2804, 0.16609095970747995),
 (279, 0.16537964611894462),
 (1320, 0.16537964611894462),
 (2384, 0.16537964611894462),
 (1612, 0.1649915822768611),
 (3405, 0.1649915822768611),
 (1295, 0.16381203115572032),
 (172, 0.16329931618554522),
 (1654, 0.16329931618554522),
 (1743, 0.16329931618554522),
 (2374, 0.16329931618554522),
 (35, 0.1629670690129016),
 (413, 0.1629670690129016),
 (595, 0.1629670690129016),
 (687, 0.1629670690129016),
 (1369, 0.16265001215808889),
 (2003, 0.16265001215808889),
 (3043, 0.16265001215808889),
 (3657, 0.16265001215808889),
 (295, 0.1622881651867159),
 (108, 0.16080605044147392),
 (2129, 0.16080605044147392),
 (4667, 0.1606438657804998),
 (139, 0.16035674514745463),
 (2792, 0.15936381457791918),
 (4065, 0.15936381457791918),
 (3669, 0.1591320125431105),
 (627, 0.15891043154093204),
 (653, 0.15891043154093204),
 (808, 0.15891043154093204),
 (2630, 0.15891043154093204),
 (1342, 0.15811388300841897),
 (3372, 0.15811388300841897),
 (3884, 0.15811388300841897),
 (2869, 0.15795970073575796),
 (454, 0.15731330124142318),
 (1035, 0.15731330124142318),
 (50, 0.15569978883230462),
 (695, 0.15569978883230462),
 (1829, 0.15569978883230462),
 (2231, 0.15555555555555556),
 (3403, 0.15555555555555556),
 (2616, 0.1554174680400523),
 (2758, 0.1554174680400523),
 (4012, 0.1554174680400523),
 (4192, 0.1554174680400523),
 (4510, 0.1539600717839002),
 (1179, 0.15385544379235033),
 (358, 0.15339299776947407),
 (1094, 0.15339299776947407),
 (4142, 0.15339299776947407),
 (1613, 0.15220988371246985),
 (94, 0.15220988371246982),
 (420, 0.15220988371246982),
 (141, 0.15214515486254615),
 (1717, 0.15214515486254615),
 (2255, 0.15214515486254615),
 (2319, 0.15214515486254615),
 (3833, 0.15214515486254615),
 (3993, 0.15214515486254615),
 (3994, 0.15214515486254615),
 (4325, 0.15214515486254615),
 (4617, 0.15214515486254615),
 (148, 0.1511857892036909),
 (232, 0.1511857892036909),
 (859, 0.1511857892036909),
 (3369, 0.15118578920369088),
 (127, 0.1509463816279883),
 (11, 0.15061601901917734),
 (1013, 0.15061601901917734),
 (2014, 0.15061601901917734),
 (7, 0.15024964528506962),
 (1344, 0.15024964528506962),
 (104, 0.14907119849998599),
 (212, 0.14907119849998599),
 (544, 0.14907119849998599),
 (740, 0.14907119849998599),
 (1271, 0.14907119849998599),
 (1651, 0.14907119849998599),
 (2657, 0.14907119849998599),
 (4347, 0.14907119849998599),
 (4731, 0.14907119849998599),
 (1000, 0.14792005232672778),
 (1737, 0.14792005232672778),
 (228, 0.1475729574745244),
 (549, 0.1475729574745244),
 (3305, 0.1475729574745244),
 (432, 0.14757295747452437),
 (1828, 0.14757295747452437),
 (31, 0.14704292441876157),
 (134, 0.14704292441876157),
 (147, 0.14704292441876157),
 (1132, 0.14704292441876157),
 (3494, 0.14704292441876157),
 (4073, 0.14704292441876157),
 (939, 0.14679516868351475),
 (773, 0.14617633655117154),
 (1571, 0.14617633655117154),
 (2475, 0.14617633655117154),
 (2647, 0.14617633655117154),
 (3051, 0.14617633655117154),
 (3971, 0.14617633655117154),
 (2543, 0.14611900125320157),
 (87, 0.14509525002200235),
 (275, 0.14509525002200235),
 (746, 0.14509525002200235),
 (1292, 0.14509525002200235),
 (1978, 0.14509525002200235),
 (2087, 0.14509525002200235),
 (270, 0.14470719035407653),
 (778, 0.14470719035407653),
 (1508, 0.14470719035407653),
 (1274, 0.14462030521243746),
 (2876, 0.14462030521243746),
 (3214, 0.14462030521243746),
 (4004, 0.14462030521243746),
 (4055, 0.14462030521243746),
 (4260, 0.14462030521243746),
 (4486, 0.14462030521243746),
 (4496, 0.14462030521243746),
 (157, 0.14344382763731175),
 (660, 0.14344382763731175),
 (715, 0.14344382763731175),
 (1460, 0.14344382763731175),
 (1875, 0.14344382763731175),
 (3948, 0.14344382763731175),
 (43, 0.14333552726125529),
 (123, 0.14333552726125529),
 (1189, 0.14333552726125529),
 (294, 0.1432229748078866),
 (483, 0.1432229748078866),
 (1272, 0.1432229748078866),
 (1018, 0.14322297480788657),
 (2068, 0.14322297480788657),
 (2579, 0.14322297480788657),
 (3098, 0.14322297480788657),
 (3616, 0.14322297480788657),
 (95, 0.14200214453837642),
 (26, 0.1420021445383764),
 (52, 0.1420021445383764),
 (101, 0.1420021445383764),
 (469, 0.1420021445383764),
 (1275, 0.1420021445383764),
 (10, 0.1414213562373095),
 (166, 0.1414213562373095),
 (787, 0.1414213562373095),
 (1397, 0.1414213562373095),
 (2177, 0.1414213562373095),
 (3503, 0.1414213562373095),
 (4167, 0.1414213562373095),
 (4287, 0.1414213562373095),
 (162, 0.14085904245475275),
 (368, 0.14085904245475275),
 (751, 0.14085904245475275),
 (1045, 0.14085904245475275),
 (1075, 0.14085904245475275),
 (1348, 0.14085904245475275),
 (1497, 0.14085904245475275),
 (1585, 0.14085904245475275),
 (2558, 0.14085904245475275),
 (2648, 0.14085904245475275),
 (2747, 0.14085904245475275),
 (2757, 0.14085904245475275),
 (2931, 0.14085904245475275),
 (3599, 0.14085904245475275),
 (4129, 0.14085904245475275),
 (4250, 0.14085904245475275),
 (41, 0.1407052941362897),
 (206, 0.14070529413628968),
 (1475, 0.14070529413628968),
 (1405, 0.1405456737852613),
 (2614, 0.1405456737852613),
 (2852, 0.1405456737852613),
 (3143, 0.1405456737852613),
 (3150, 0.1405456737852613),
 (3249, 0.1405456737852613),
 (4197, 0.1405456737852613),
 (4425, 0.1405456737852613),
 (4712, 0.1405456737852613),
 (68, 0.13968605915391566),
 (513, 0.13968605915391566),
 (900, 0.13968605915391566),
 (1173, 0.13968605915391566),
 (1279, 0.13968605915391566),
 (1745, 0.13968605915391566),
 (3336, 0.13968605915391566),
 (590, 0.13840913308956662),
 (922, 0.13840913308956662),
 (1404, 0.13840913308956662),
 (1666, 0.13840913308956662),
 (2452, 0.13840913308956662),
 (3183, 0.13840913308956662),
 (2756, 0.13821473814378823),
 (1091, 0.1382147381437882),
 (122, 0.13801311186847084),
 (312, 0.13801311186847084),
 (521, 0.13801311186847084),
 (854, 0.13801311186847084),
 (1084, 0.13801311186847084),
 (1193, 0.13801311186847084),
 (2009, 0.13801311186847084),
 (4224, 0.13801311186847084),
 (239, 0.13701805122009747),
 (1838, 0.13701805122009747),
 (2406, 0.13679711361135388),
 (2708, 0.13679711361135388),
 (2973, 0.13679711361135388),
 (2998, 0.13679711361135388),
 (3151, 0.13679711361135388),
 (792, 0.1363988678940947),
 (1080, 0.1363988678940947),
 (2059, 0.1363988678940947),
 (794, 0.13608276348795434),
 (1207, 0.13608276348795434),
 (1278, 0.13608276348795434),
 (1304, 0.13608276348795434),
 (1703, 0.13608276348795434),
 (2392, 0.13608276348795434),
 (2443, 0.13608276348795434),
 (2656, 0.13608276348795434),
 (2836, 0.13608276348795434),
 (3293, 0.13608276348795434),
 (1570, 0.13590591771670016),
 (777, 0.13585191893923582),
 (2435, 0.13585191893923582),
 (3603, 0.13585191893923582),
 (2, 0.13483997249264842),
 (219, 0.13483997249264842),
 (535, 0.13483997249264842),
 (1156, 0.13483997249264842),
 (1819, 0.13483997249264842),
 (3004, 0.13483997249264842),
 (3439, 0.13483997249264842),
 (3460, 0.13483997249264842),
 (18, 0.1347150628109127),
 (292, 0.1338698881504165),
 (408, 0.1338698881504165),
 (476, 0.1338698881504165),
 (564, 0.1338698881504165),
 (935, 0.1338698881504165),
 (1470, 0.1338698881504165),
 (1801, 0.1338698881504165),
 (3764, 0.1338698881504165),
 (4453, 0.1338698881504165),
 (4462, 0.1338698881504165),
 (425, 0.13360627800656927),
 (193, 0.13360627800656924),
 (199, 0.13360627800656924),
 (14, 0.13333333333333333),
 (72, 0.13333333333333333),
 (131, 0.13333333333333333),
 (203, 0.13333333333333333),
 (875, 0.13333333333333333),
 (1054, 0.13333333333333333),
 (1107, 0.13333333333333333),
 (2161, 0.13333333333333333),
 (2498, 0.13333333333333333),
 (3065, 0.13333333333333333),
 (3523, 0.13333333333333333),
 (3826, 0.13333333333333333),
 (4159, 0.13333333333333333),
 (371, 0.13187609467915742),
 (529, 0.13187609467915742),
 (2709, 0.13187609467915742),
 (510, 0.1318760946791574),
 (142, 0.13176156917368248),
 (249, 0.13176156917368248),
 (306, 0.13176156917368248),
 (369, 0.13176156917368248),
 (960, 0.13176156917368248),
 (1752, 0.13176156917368248),
 (2243, 0.13176156917368248),
 (2850, 0.13176156917368248),
 (3131, 0.13176156917368248),
 (3533, 0.13176156917368248),
 (4620, 0.13176156917368248),
 (4651, 0.13176156917368248),
 (2102, 0.1314684396244359),
 (799, 0.1309015183130176),
 (291, 0.13046561461068845),
 (518, 0.13046561461068845),
 (579, 0.13046561461068845),
 (2006, 0.13012000972647111),
 (2275, 0.13012000972647111),
 (2577, 0.13012000972647111),
 (2878, 0.13012000972647111),
 (3370, 0.13012000972647111),
 (3655, 0.13012000972647111),
 (4406, 0.13012000972647111),
 (233, 0.1297498240269205),
 (315, 0.1297498240269205),
 (400, 0.1297498240269205),
 (781, 0.1297498240269205),
 (901, 0.1297498240269205),
 (978, 0.1297498240269205),
 (1002, 0.1297498240269205),
 (2134, 0.1297498240269205),
 (2163, 0.1297498240269205),
 (2190, 0.1297498240269205),
 (2813, 0.1297498240269205),
 (2911, 0.1297498240269205),
 (3810, 0.1297498240269205),
 (3920, 0.1297498240269205),
 (84, 0.1294300457858868),
 (213, 0.1294300457858868),
 (508, 0.12909944487358058),
 (933, 0.12909944487358058),
 (1246, 0.12909944487358058),
 (1581, 0.12909944487358058),
 (1842, 0.12909944487358058),
 (1920, 0.12909944487358058),
 (2280, 0.12909944487358058),
 (2846, 0.12909944487358058),
 (3078, 0.12909944487358058),
 (3917, 0.12909944487358058),
 (4648, 0.12909944487358058),
 (164, 0.1278274981412284),
 (356, 0.1278274981412284),
 (1053, 0.1278274981412284),
 (1519, 0.1278274981412284),
 (1556, 0.1278274981412284),
 (1696, 0.1278274981412284),
 (2038, 0.1278274981412284),
 (2789, 0.1278274981412284),
 (3904, 0.1278274981412284),
 (204, 0.12777531299998798),
 (410, 0.12777531299998798),
 (643, 0.12777531299998798),
 (833, 0.12777531299998798),
 (898, 0.12777531299998798),
 (1231, 0.12777531299998798),
 (238, 0.1274836184319024),
 (205, 0.12712834523274563),
 (381, 0.12712834523274563),
 (534, 0.12712834523274563),
 (1003, 0.12712834523274563),
 (1346, 0.12712834523274563),
 (1617, 0.12712834523274563),
 (1766, 0.12712834523274563),
 (1770, 0.12712834523274563),
 (2476, 0.12712834523274563),
 (3394, 0.12712834523274563),
 (3976, 0.12712834523274563),
 (3988, 0.12712834523274563),
 (4043, 0.12712834523274563),
 (4467, 0.12712834523274563),
 (4562, 0.12712834523274563),
 (257, 0.1264911064067352),
 (278, 0.1264911064067352),
 (330, 0.1264911064067352),
 (28, 0.12598815766974242),
 (167, 0.12598815766974242),
 (349, 0.12598815766974242),
 (511, 0.12598815766974242),
 (691, 0.12598815766974242),
 (775, 0.12598815766974242),
 (1247, 0.12598815766974242),
 (1500, 0.12598815766974242),
 (1786, 0.12598815766974242),
 (2496, 0.12598815766974242),
 (2790, 0.12598815766974242),
 (3024, 0.12598815766974242),
 (3297, 0.12598815766974242),
 (3424, 0.12598815766974242),
 (3643, 0.12598815766974242),
 (165, 0.1252448582170299),
 (412, 0.1252448582170299),
 (870, 0.1252448582170299),
 (4039, 0.1252448582170299),
 (153, 0.1247219128924647),
 (109, 0.12433397443204185),
 (776, 0.12433397443204185),
 (1321, 0.12433397443204185),
 (1765, 0.12433397443204185),
 (1918, 0.12433397443204185),
 (3084, 0.12433397443204185),
 (3895, 0.12433397443204185),
 (4093, 0.12433397443204185),
 (4314, 0.12433397443204185),
 (4397, 0.12433397443204185),
 (4585, 0.12433397443204185),
 (4698, 0.12433397443204185),
 (236, 0.12422599874998833),
 (325, 0.12422599874998833),
 (530, 0.12422599874998833),
 (1205, 0.12422599874998833),
 (3306, 0.12422599874998833),
 (271, 0.12422599874998831),
 (814, 0.12422599874998831),
 (853, 0.12422599874998831),
 (920, 0.12422599874998831),
 (1140, 0.12422599874998831),
 (1461, 0.12422599874998831),
 (1465, 0.12422599874998831),
 (2257, 0.12422599874998831),
 (2686, 0.12422599874998831),
 (3399, 0.12422599874998831),
 (589, 0.12403473458920847),
 (813, 0.12403473458920847),
 (1028, 0.12403473458920847),
 (2001, 0.12403473458920847),
 (3264, 0.12403473458920847),
 (3630, 0.12403473458920847),
 (4456, 0.12403473458920847),
 (4771, 0.12403473458920847),
 (403, 0.12297746456210365),
 (596, 0.12285902336679025),
 (1276, 0.12285902336679025),
 (1355, 0.12285902336679025),
 (1365, 0.12285902336679025),
 (675, 0.12285902336679023),
 (2300, 0.12253577034896798),
 (71, 0.12253577034896797),
 (88, 0.12253577034896797),
 (207, 0.12253577034896797),
 (241, 0.12253577034896797),
 (894, 0.12253577034896797),
 (2632, 0.12253577034896797),
 (785, 0.12213224860438321),
 (384, 0.12171612389003693),
 (624, 0.12171612389003693),
 (839, 0.12171612389003693),
 (865, 0.12171612389003693),
 (951, 0.12171612389003693),
 (1226, 0.12171612389003693),
 (1517, 0.12171612389003693),
 (1520, 0.12171612389003693),
 (1660, 0.12171612389003693),
 (1733, 0.12171612389003693),
 (2335, 0.12171612389003693),
 (2694, 0.12171612389003693),
 (2783, 0.12171612389003693),
 (3068, 0.12171612389003693),
 (3665, 0.12171612389003693),
 (3704, 0.12171612389003693),
 (3925, 0.12171612389003693),
 (3970, 0.12171612389003693),
 (4000, 0.12171612389003693),
 (4466, 0.12171612389003693),
 (4632, 0.12171612389003693),
 (45, 0.12171612389003691),
 (467, 0.12171612389003691),
 (1200, 0.12171612389003691),
 (1435, 0.12171612389003691),
 (2484, 0.12171612389003691),
 (2798, 0.12171612389003691),
 (21, 0.12091270835166862),
 (33, 0.12091270835166862),
 (112, 0.12091270835166862),
 (392, 0.12091270835166862),
 (587, 0.12091270835166862),
 (634, 0.12091270835166862),
 (1025, 0.12091270835166862),
 (1400, 0.12091270835166862),
 (1469, 0.12091270835166862),
 (1610, 0.12091270835166862),
 (2247, 0.12091270835166862),
 (2348, 0.12091270835166862),
 (2854, 0.12091270835166862),
 (3466, 0.12091270835166862),
 (995, 0.12060453783110545),
 (1184, 0.12060453783110545),
 (1999, 0.12060453783110545),
 (5, 0.12049281521534183),
 (2270, 0.11952286093343939),
 (3225, 0.11952286093343939),
 (3271, 0.11952286093343939),
 (4046, 0.11952286093343939),
 (4056, 0.11952286093343939),
 (4255, 0.11952286093343939),
 (4558, 0.11952286093343939),
 (222, 0.11952286093343938),
 (607, 0.11952286093343938),
 (1726, 0.11952286093343938),
 (3154, 0.11952286093343938),
 (214, 0.11935247900657216),
 (1159, 0.11935247900657216),
 (23, 0.11935247900657214),
 (242, 0.11935247900657214),
 (263, 0.11935247900657214),
 (985, 0.11935247900657214),
 (1593, 0.11935247900657214),
 (1938, 0.11935247900657214),
 (2171, 0.11935247900657214),
 (2185, 0.11935247900657214),
 (2847, 0.11935247900657214),
 (3177, 0.11935247900657214),
 (1257, 0.1192569587999888),
 (1260, 0.1192569587999888),
 (1601, 0.1192569587999888),
 (2322, 0.1192569587999888),
 (2377, 0.1192569587999888),
 (3129, 0.1192569587999888),
 (3147, 0.1192569587999888),
 (3568, 0.1192569587999888),
 (3617, 0.1192569587999888),
 (3651, 0.1192569587999888),
 (4284, 0.1192569587999888),
 (2964, 0.11846977555181848),
 (107, 0.11846977555181847),
 (248, 0.11846977555181847),
 (473, 0.11846977555181847),
 (612, 0.11846977555181847),
 (1017, 0.11846977555181847),
 (81, 0.11815292615976111),
 (1087, 0.11815292615976111),
 (12, 0.11785113019775792),
 (266, 0.11785113019775792),
 (830, 0.11785113019775792),
 (1267, 0.11785113019775792),
 (1363, 0.11785113019775792),
 (1374, 0.11785113019775792),
 (1784, 0.11785113019775792),
 (2350, 0.11785113019775792),
 (2679, 0.11785113019775792),
 (2816, 0.11785113019775792),
 (2888, 0.11785113019775792),
 (2949, 0.11785113019775792),
 (3260, 0.11785113019775792),
 (3351, 0.11785113019775792),
 (3695, 0.11785113019775792),
 (4077, 0.11785113019775792),
 (307, 0.1175073731304618),
 (243, 0.11744404390294069),
 (92, 0.11744404390294068),
 (102, 0.11744404390294068),
 (376, 0.11744404390294068),
 (574, 0.11744404390294068),
 (1874, 0.11744404390294068),
 (498, 0.11694106924093724),
 (1039, 0.11694106924093724),
 (1856, 0.11694106924093724),
 (1919, 0.11694106924093724),
 (2108, 0.11694106924093724),
 (2157, 0.11694106924093724),
 (2953, 0.11694106924093724),
 (2972, 0.11694106924093724),
 (3237, 0.11694106924093724),
 (3479, 0.11694106924093724),
 (3511, 0.11694106924093724),
 (3546, 0.11694106924093724),
 (3916, 0.11694106924093724),
 (4084, 0.11694106924093724),
 (2566, 0.11666666666666667),
 (692, 0.11644450194791642),
 (1492, 0.11644450194791642),
 (618, 0.1164445019479164),
 (1493, 0.1164445019479164),
 (96, 0.11640504929492972),
 (98, 0.11640504929492972),
 (245, 0.11640504929492972),
 (303, 0.11640504929492972),
 (752, 0.11640504929492972),
 (885, 0.11640504929492972),
 (899, 0.11640504929492972),
 (1009, 0.11640504929492972),

In [ ]:
 movie_data[movie_data['title'] == movie].index[0]

In [378]:
import pickle

In [379]:
pickle.dump(movie_data, open('movie_list.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))